@import "_nullstyle";
// Шрифты
@import url(https://fonts.googleapis.com/css?family=Federant:regular);
@font-face {
  font-family: 'Akzidenz';
  src: url("../fonts/AkzidenzGroteskBQCondensedBold.eot");
  src: local("☺"), url("../fonts/AkzidenzGroteskBQCondensedBold.woff") format("woff"), url("../fonts/AkzidenzGroteskBQCondensedBold.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBQCondensedBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/BebasNeue-Regular.eot');
  src: local('☺'), url('../fonts/BebasNeue-Regular.woff') format('woff'), url('../fonts/BebasNeue-Regular.ttf') format('truetype'), url('../fonts/BebasNeue-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans-Regular.eot');
  src: local('☺'), url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('truetype'), url('../fonts/PTSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
//Шрифты
body {
  font-family: 'PTSans', Arial;
}
.header {
  max-width: 870px;
  margin: 0 auto;
}
.header-block {
  padding-top: 3%;
  height: 175px;
}
.header__line {
  display:flex;
  justify-content: space-between;
}
.header__lang__cont {
  display:flex;
  width: 10%;
  justify-content: space-between;
}
.header__lang {
  font-family: "Bebas", Arial, Helvetica, sans-serif;
  line-height: 25px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 10px 0 10px;
  color: #000;
  &:last-child {
    padding-left: 9px;
  }
  &:active {
    background-color: #000;
    color: #fff;
  }
}
.order {
  font-family: "Bebas";
  font-size: 16px;
  text-decoration: underline;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-right: -5px;;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000000;
  @media (max-width: 900px){
    margin-right: 2%;
  }
}
.header__line_2 {
  margin-left: 1.5%;
}
.header__nav {
  font-family: Akzidenz;
  display: flex;
  justify-content: space-between;
  padding: 3% 0 0 0;
  max-width: 260px;
  flex: 1 1 30%;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;
}
.header__nav_left {
  padding-right: 0.5%;
}
.header__logo {
  margin-top: -2%;
  padding: 0 2% 0 2%;
  @media (max-width: 900px){
    margin-top: -4%;
  }
}
.header__nav_right {
  margin-right: -0.5%;
  @media (max-width: 900px){
    margin-right: 2%;
  }
}
.catering {
  display: flex;
  max-height: 425px;
  background-color: #000;
}
.catering__column {
  flex: 1 1 50%;
  max-width: 50%;
}
.catering__img {
  background: url("../src/catering.jpg");
  height: 425px;
  flex: 1 1 50%;
}
.catering__content {
  padding: 5.7% 0 0 4.4%;
}
.catering__h {
  font-family: "Akzidenz";
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  max-width: 200px;
}
.catering__text {
  font-family: "PTSans";
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  max-width: 303px;
  padding: 7% 0 0 0;
}
.catering__links {
}
.catering__link {
}